# --- ГЛОБАЛЬНЫЕ НАСТРОЙКИ ---
MODE_ENV=prod
DOMAIN=domain.ru
ADMIN_EMAIL=gmail@gmail.com

# --- POSTGRES ---
DB_DATABASE=tracker
DB_USERNAME=tracker
DB_PASSWORD=password
DB_PORT=5432
DB_SCHEMA=base

DATABASE_URL=postgres://user:password@database_database/database

# --- REDIS ---
REDIS_PASSWORD=password
REDIS_HOST=host
REDIS_PORT=6379

# --- STORAGE & CDN ---
STORAGE_ROOT_USER=STORAGE_admin
STORAGE_ROOT_PASSWORD=password

BACKEND_USER=BACKEND_admin
BACKEND_PASSWORD=password

CONSOLE_USER=CONSOLE_admin
CONSOLE_PASSWORD=password

# --- APP ---
BACKEND_PORT=3000
NODE_ENV=production
COOKIE_SECRET=same-serious-secret
CORS_ALLOWED_ORIGINS=https://domain.ru,https://api.domain.ru,http://localhost:3000,http://127.0.0.1:3000

# --- Backend server ---
S3_BUCKET_NAME=tracker
S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1

JWT_AUDIENCE="task-tracker-client"
JWT_ACCESS_SECRET=same-same-same-same-same
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=same-same-same-same-same
JWT_REFRESH_EXPIRES_IN=1d

# --- MAIL SETTINGS ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=gmail@gmail.com
MAIL_PASSWORD=password
MAIL_FROM_NAME="Task Tracker"
MAIL_FROM_EMAIL=gmail@gmail.com

# --- Frontend ---
NEXT_PORT=3000
# Next App BACKEND Instrumentation
## Example assumes that the collector is running on the same machine
OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:7003
## Force protobuf
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
## Set Backend service name
OTEL_SERVICE_NAME=next-backend
## Customize resource attributes, namespace is a recommended attribute
OTEL_RESOURCE_ATTRIBUTES=service.namespace=task-tracker

# --- Imagor ---
IMAGOR_SECRET=secret
IMAGOR_PORT=9090
IMAGOR_URL=imagor

# --- Grafana Alloy ---
ALLOY_UI_PORT=7000
ALLOY_FARO_PORT=7001
ALLOY_OTLP_GRPC_PORT=7002

# --- Loki ---
LOKI_HTTP_PORT=7100
LOKI_GRPC_PORT=7101

# --- Tempo ---
TEMPO_PORT=7200
TEMPO_OTLP_GRPC_PORT=7201
TEMPO_OTLP_HTTP_PORT=7203

TELEGRAM_CHAT_TOPIC_ID=1
TELEGRAM_CHAT_ID="-100123123123123"
TELEGRAM_BOT_TOKEN=123456789:AAAAAAAAAAAAAAAAAbbbAA