# --- ГЛОБАЛЬНЫЕ НАСТРОЙКИ ---
MODE_ENV=prod
DOMAIN=yourdomain.com
ADMIN_EMAIL=admin@yourdomain.com

# --- СЕТИ ---
APP_NET=app_prod_net

# --- POSTGRES ---
POSTGRES_VERSION=16-alpine
DB_NAME=myapp_prod
DB_USER=pg_admin
DB_PASSWORD=strong_prod_db_pass_123
CPU_LIMIT=1.0
MEM_LIMIT=1G

# --- REDIS ---
REDIS_VERSION=7.2-alpine
REDIS_PASSWORD=strong_redis_prod_pass_456
REDIS_CPU_LIMIT=0.5
REDIS_MEM_LIMIT=512M

# --- MINIO & CDN ---
MINIO_VERSION=RELEASE.2024-03-03T17-58-48Z
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=strong_minio_prod_pass_789
MINIO_MEM_LIMIT=2G
CDN_BUCKET_NAME=static