.env
.env.dev
.env.prod
.env.local
.env.*.local
!.env.example

data/
deploy/**/data/

*.log
logs/
.loki/

.docker/
.vscode/
.idea/
.DS_Store
Thumbs.db

node_modules/
dist/
build/
.npm
.eslintcache

deploy/caddy/data/
deploy/caddy/config/

!README.md
!scripts/

/data/*