{
    email {$ADMIN_EMAIL}
}

{$DOMAIN} {
    root * /var/www/promo
    file_server
    try_files {path} {path}.html {path}/
    encode gzip zstd
}

dev.{$DOMAIN} {
    reverse_proxy frontend_frontend:{$NEXT_PORT}
}

api.{$DOMAIN} {
    @root {
        path /
    }

    handle @root {
        redir /docs 301
    }

    reverse_proxy backend_backend:{$BACKEND_PORT}
}

cdn.{$DOMAIN} {
    encode gzip zstd

    log {
        output file /var/log/caddy/s3_access.log
        format json
    }

    header -Server
    header -X-Amz-Request-Id
    header Cache-Control "public, max-age=31536000"

    rewrite * /{$BUCKET_NAME}{uri}

    reverse_proxy storage_storage:9000
}

cdn-console.{$DOMAIN} {
    reverse_proxy storage_storage:9001 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }

    header -Server
}

grafana.{$DOMAIN} {
    reverse_proxy grafana_grafana:{$GRAFANA_PORT}
}

telemetry.{$DOMAIN} {
    reverse_proxy /collect alloy_alloy:7001
}

prometheus.{$DOMAIN} {
    reverse_proxy prometheus_prometheus:{$PROMETHEUS_PORT}
}
