{
    email {$ADMIN_EMAIL}
}

{$DOMAIN} {
    root * /var/www/promo
    file_server
    try_files {path} {path}.html {path}/
    encode gzip zstd
}

dev.{$DOMAIN} {
    reverse_proxy frontend_frontend:3000
}

api.{$DOMAIN} {
    @root {
        path /
    }

    handle @root {
        redir /docs 301
    }

    reverse_proxy backend_backend:1000
}

cdn.{$DOMAIN} {
    encode gzip zstd

    header -Server
    header -X-Amz-Request-Id
    header Cache-Control "public, max-age=31536000"

    rewrite * /{$CDN_BUCKET_NAME}{uri}

    reverse_proxy minio_minio:9000
}

cdn-console.{$DOMAIN} {
    reverse_proxy minio_minio:9001
}

grafana.{$DOMAIN} {
    reverse_proxy grafana_grafana:2000
}

prometheus.{$DOMAIN} {
    reverse_proxy prometheus_prometheus:9090
}
